@import "../colors/colors.css";


.button {  /* Common Classes, for every button */
    block-size: 40px;
    inline-size: 158px;
    border-radius: 10px;
    color: var(--light-gray-3);
    border-color: transparent;
}

.primary-button,
.icon-button {
    background-color: var(--primary);
}

.primary-button:hover,
.icon-button:hover {
    background-color: var(--tertiary);
}

.primary-button:disabled,
.icon-button:disabled,
.shop-button:disabled {
    background-color: var(--light-gray-2);
}

.secondary-button {
    color: var(--primary);
    background-color: var(--light-gray-3);
}
.secondary-button:hover {
    color: #f7f7fc;
    background-color: var(--secondary);
}
.secondary-button:disabled {
    border: 1px solid var(--primary);
    opacity: 50%;
}

.shop-button {
    background-color: #ffb31f;
}
.shop-button:hover {
    background-color: #cf8900;
}