@import "../colors/colors.css";

label {
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    inline-size: 22px;
    block-size: 22px;
    & input {
        cursor: inherit;
        inline-size: 22px;
        display: none;
    }
    
    & span { 
        block-size: 22px;
        inline-size: 22px;
        background-color: #eee;
        transition-duration: 300ms;
        border-radius: 2px;
        border: 1px solid var(--dark-gray-3) ;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    &:hover input ~ span {
        background-color: #ccc;
    }
    & input:checked ~ span {
        background-color: var(--primary);
        border-color: var(--primary);
    }
}
