@import "../colors/colors.css";

/* deixando a checkbox rosa depois de pressiondada */
label {
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
